.landingPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-height: 500px; */
    height: 100vh;
    top: 0px;
    width: 90vw;
    text-shadow: 2px 2px 2px rgb(30, 3, 187);

    color: whitesmoke;
    font-family: papyrus;
    font-weight: bolder;
    font-size: 1.5em;
    z-index: 2;

}

.break{
    width: 200px;
    color: blue;
}