.portfolio{
    display: flex;
    flex-direction: column;
    background-color: chartreuse;
    
}
.projectCard{ 
    height: 300px;
    width: 400px;
    background-color: rgba(0, 0, 255, .5);
    background-size: cover;
    overflow: hidden;

}
.filter{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
}
.filter div{
    margin: 0 10px;
}

.shrink{
    animation: shrink 1.5s ease forwards;
}
@keyframes shrink {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(.5);
    }
    100%{
        box-shadow: none;
        transform: scale(0);
        position: absolute;
    }
}
